{% extends "cdn/base_index.html" %}
{% block description_contetnt %}Проверка кеширования контента в CDN{% endblock %}
{% block title %}Кеширование контента в CDN{% endblock %}
{% block h1 %}Проверка кеширования контента в CDN{% endblock %}
{% block form_content %}
    <form action="{% url 'cash_results' %}" method="post">
        {% csrf_token %}
        <table class="table">{{form}}</table>
        <input type="submit" value="Submit">
    </form>
{% endblock %}
{% block back %}
<div class="text-start pt-5"><a href = "{% url 'main' %}" class="btn btn-info text-white">К списку утилит</a></div>
{% endblock %}
