<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Утилиты для работы с CDNNOW">
    <title>Утилиты для работы с CDNNOW</title>
</head>
<body>
    <h1>Утилиты для работы с CDNNOW</h1>
    {% if applications %}
    <ul>
        {% for key, value in applications.items %}
        <li><a href="{{key}}">{{value}}</a></li>
        {% endfor %}
    </ul>
    {% else %}
    <div>Утилит не обнаружено</div>
    {% endif %}
</body>
</html>