{% extends "cdn/base_index.html" %}
{% block description_contetnt %}Утилиты для работы с CDNNOW{% endblock %}
{% block title %}Утилиты для работы с CDNNOW{% endblock %}
{% block h1 %}Утилиты для работы с CDNNOW{% endblock %}
{% block form_content %}
{% if applications %}
<div class="text-start card p-2"><ul>
    {% for key, value in applications.items %}
    <li><a href="{{key}}">{{value}}</a></li>
    {% endfor %}
</ul></div>
{% else %}
<div>Утилит не обнаружено</div>
{% endif %}
{% endblock %}
